<h1>Welcome <%=@user.username%></h1>

Here's a list of films you have reviewed: <br  />


<p>Films:</p>
<% @user.reviews.each do |review| %>
  <div><%=link_to "#{review.title}", film_review_path(review) %></div>
<% end %><br      />

<%=link_to "List of all Films", films_path%> <br  />

Here's a bunch of drinks you've drank:
#(have links to the drinks that were created for the films)

Should the link to create a drink be on the profile page or on the index?
