<h1>Reviews for <%=@film.title%></h1>

<ul>
<%@reviews.each do |r|%>
<li><%=link_to "#{r.title}", film_review_path(@film, r)%></li>
<%end%>
</ul>


<%=link_to "Write a New Review", new_film_review_path%>
